html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.container-main {
    margin-bottom: 10%;
}

h1 {
    color: #1498d5;
}

.logo {
    width: 150px
}

.nav-bg-color {
    background-color: #0000000d !important;
}

.color-esportiva {
    color: #1498d5 !important
}

.hover-underline:hover {
    text-decoration: underline !important;
}

.img-table {
    width: 100px;
}

.img-100 {
    max-width: 100px;
}

.img-200 {
    max-width: 200px;
}

.img-300 {
    max-width: 300px;
}

.img-400 {
    max-width: 400px;
}

.img-500 {
    max-width: 500px;
}

footer .col-md-4 {
    line-height: normal;
}
