@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à Esportiva</h1>
    <p>Aqui você encontrará tudo relacionado ao mundo dos esportes. Desejamos uma ótima experiência.</p>
</div>
