@page
@model SobreModel
@{
    ViewData["Title"] = "Sobre nós";
}
<h1>@ViewData["Title"]</h1>

<hr />

<p>
    Bem-vindo à Esportiva, o seu ponto de referência para tudo relacionado ao mundo dos esportes. Somos uma loja dedicada a atender entusiastas de atividades físicas, atletas e todos que buscam um estilo de vida saudável.
</p>

<p>
    Na Esportiva, nossa missão vai além de oferecer produtos de alta qualidade. Buscamos proporcionar uma experiência de compra excepcional. Queremos ser parte integrante do seu percurso esportivo, apoiando seus objetivos e incentivando sua paixão pelo esporte.
</p>

<p class="h6">Nossa Variedade de Produtos</p>

<p>Nossa loja oferece uma ampla gama de produtos das marcas mais conceituadas no mundo esportivo. Seja qual for o seu esporte favorito, aqui você encontrará roupas, calçados, equipamentos e acessórios para atender às suas necessidades. Desde iniciantes até atletas mais experientes, nossa seleção abrange produtos para corrida, musculação, yoga, natação, além de materiais específicos para modalidades como futebol, basquete, tênis e muito mais.</p>

<p class="h6">Compromisso com a Qualidade e Atendimento ao Cliente</p>

<p>Na Esportiva, priorizamos a qualidade em todos os aspectos. Cada item em nossa loja é escolhido minuciosamente, assegurando que apenas os melhores produtos estejam disponíveis para nossos clientes. Nossa equipe altamente capacitada e apaixonada pelo esporte está pronta para oferecer orientação especializada e ajudar você a encontrar exatamente o que procura.</p>

<p class="h6">Compromisso com a Comunidade</p>

<p>Somos uma parte ativa e integrante da comunidade esportiva local. Acreditamos no poder do esporte para unir pessoas e estamos empenhados em apoiar eventos, equipes e iniciativas que promovam um estilo de vida ativo e saudável em nossa região.</p>

<p>Visite-nos e faça parte da experiência Esportiva. Estamos ansiosos para ajudar você a alcançar seus objetivos esportivos e fazer parte da sua jornada rumo ao bem-estar e à excelência esportiva.</p>
